.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: #6c25ff;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #6c25ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.primary-btn:disabled {
  background: #d3c6ff;
}

.secondary-btn {
  width: 100%;
  padding: 12px;
  background: #ede7ff;
  color: #6c25ff;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
}

.error-text {
  color: #d32f2f;
  font-size: 12px;
  margin-top: -6px;
  margin-bottom: 8px;
}


.radio-group {
  margin: 14px 0;
}

.radio-group p {
  font-size: 13px;
  margin-bottom: 8px;
}

.radio-group label {
  margin-right: 16px;
  font-size: 13px;
}
